/* styles.css */

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #dd5454; /* Cor de fundo principal */
    color: white;
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #1E1E1E;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100vh;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    display: flex;
    align-items: center;
    margin: 20px 0;
    cursor: pointer;
}

.circle {
    width: 20px;
    height: 20px;
    background-color: #FFD700;
    border-radius: 50%;
    margin-right: 10px;
}

.text {
    font-size: 16px;
    color: white;
}

.active .circle {
    background-color: #FFD700;
}

.content {
    margin-left: 220px;
    padding: 50px;
    width: calc(100% - 220px);
}

.content h1 {
    font-size: 60px;
    font-family: 'Brush Script MT', cursive;
}

.content h2 {
    font-size: 36px;
    font-weight: bold;
}

.scroll-indicator {
    margin-top: 50px;
}

.scroll-indicator .arrow {
    width: 20px;
    height: 20px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(45deg);
    margin: 10px auto;
}

.scroll-indicator span {
    font-size: 14px;
    color: #DDDDDD;
}

.image {
    width: 200px;
    float: left;
    margin-right: 20px;
}

.text-content {
    text-align: left;
    line-height: 1.6;
}
